<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<!-- <properties resource="META-INF/config.properties" /> -->
	<context id="productRelease">

		<!-- 为sqlmap文件中的datelastmaint字段统一赋值为sysdate；并且不生成对应的set方法 mybatis3版本需要将javaClientGenerator的type属性指定为XMLMAPPER -->
		<plugin
			type="com.csii.bank.core.generator.plugins.MyBatis3_DatelastmaintPlugin"></plugin>
        <!-- 生成sequence代码 -->
		<plugin type="com.csii.bank.core.generator.plugins.Mybatis3_SequenceGeneratorPlugin"></plugin>
        <!-- 对含有effdate和inactive的表自动生成查询当前有效记录的语句 -->
		<plugin type="com.csii.bank.core.generator.plugins.Mybatis3_EffDateQueryPlugin"></plugin>
		<!-- <commentGenerator> <property name="suppressDate" value="true" /> </commentGenerator> -->
		<jdbcConnection driverClass="com.ibm.db2.jcc.DB2Driver"
			connectionURL="jdbc:db2://172.16.0.73:50000/DEVDB:currentSchema=PCORE;"
			userId="pcore" password="pcore" />
	    <javaModelGenerator targetPackage="com.csii.bank.core.model.generate"
			targetProject="powercore-dao" /> 
		<sqlMapGenerator targetPackage="com.csii.bank.core.dao.generate.mapper"
			targetProject="powercore-dao" />

		<!-- 对于mybatis来说，即生成Mapper接口，注意，如果没有配置该元素，那么默认不会生成Mapper接口 targetPackage/targetProject:同javaModelGenerator
			type：选择怎么生成mapper接口（在MyBatis3/MyBatis3Simple下）： 1，ANNOTATEDMAPPER：会生成使用Mapper接口+Annotation的方式创建（SQL生成在annotation中），不会生成对应的XML；
			2，MIXEDMAPPER：使用混合配置，会生成Mapper接口，并适当添加合适的Annotation，但是XML会生成在XML中； 3，XMLMAPPER：会生成Mapper接口，接口完全依赖XML；
			注意，如果context是MyBatis3Simple：只支持ANNOTATEDMAPPER和XMLMAPPER -->
		<javaClientGenerator targetPackage="com.csii.bank.core.dao.generate.mapper"
			targetProject="powercore-dao" type="XMLMAPPER" />

		<!-- <table tableName="Mjaccttyp" /> -->
		<!-- <table tableName="ACCT" />
		<table tableName="ACCTACCTBALTYPCALCVARVALUE" />
		<table tableName="ACCTACCTCALCVARVALUE" />
		<table tableName="ACCTACCTCTRL" />
		<table tableName="ACCTACCTCTRLREG" />
		<table tableName="ACCTACCTHOLD" />
		<table tableName="ACCTACCTHOLDREG" />
		<table tableName="ACCTACCTROLE" />
		<table tableName="ACCTACCTSTATHIST" />
		<table tableName="ACCTAPPL" />
		<table tableName="ACCTAUTOLOANPMTINFO" />
		<table tableName="ACCTAUTOLOANPMTINFOBALCATTYP" />
		<table tableName="ACCTBAL" />
		<table tableName="ACCTBALDTL" />
		<table tableName="ACCTBALTYPCALCTYP" />
		<table tableName="ACCTBALTYPCALCVAR" />
		<table tableName="ACCTBALTYPCALCVARVALUE" />
		<table tableName="ACCTCALCTYP" />
		<table tableName="ACCTCALCVAR" />
		<table tableName="ACCTCALCVARVALUE" />
		<table tableName="ACCTCC" />
		<table tableName="ACCTCCCONSUME" />
		<table tableName="ACCTCCSTMT" />
		<table tableName="ACCTCCSTMTPMT" />
		<table tableName="ACCTCTRL" />
		<table tableName="ACCTCTRLMETH" />
		<table tableName="ACCTCTRLREASON" />
		<table tableName="ACCTCYCLE" />
		<table tableName="ACCTDEDUCT" />
		<table tableName="ACCTDEP" />
		<table tableName="ACCTFEEREG" />
		<table tableName="ACCTGRP" />
		<table tableName="ACCTGRPACCT" />
		<table tableName="ACCTGRPACCTGRPCALCVARVALUE" />
		<table tableName="ACCTGRPCALCTYP" />
		<table tableName="ACCTGRPCALCVAR" />
		<table tableName="ACCTGRPCALCVARVALUE" />
		<table tableName="ACCTGRPTYP" />
		<table tableName="ACCTHOLD" />
		<table tableName="ACCTINTHIST" />
		<table tableName="ACCTITL" />
		<table tableName="ACCTITLTRANSFER" />
		<table tableName="ACCTKXHREG" />
		<table tableName="ACCTLOAN" />
		<table tableName="ACCTLOANDISB" />
		<table tableName="ACCTLOANEXTAPPLY" />
		<table tableName="ACCTLOANEXTHIST" />
		<table tableName="ACCTLOANINFO" />
		<table tableName="ACCTLOANINFODAY" />
		<table tableName="ACCTLOANINTHIST" />
		<table tableName="ACCTLOANNEGAGRMTHIST" />
		<table tableName="ACCTLOANNEGRCVBHIST" />
		<table tableName="ACCTLOANOTHRTXN" />
		<table tableName="ACCTLOANPMT" />
		<table tableName="ACCTLOANPMTINFODAY" />
		<table tableName="ACCTLOANPMTTYPHIST" />
		<table tableName="ACCTLOCKOUT" />
		<table tableName="ACCTMARKET" />
		<table tableName="ACCTMARKETCOUPONBAL" />
		<table tableName="ACCTMARKETINTEGRALBAL" />
		<table tableName="ACCTMEMOBALTYP" />
		<table tableName="ACCTMIACCTHIST" />
		<table tableName="ACCTPMTTYPHIST" />
		<table tableName="ACCTPMTTYPSUBACCTHIST" />
		<table tableName="ACCTRATEHIST" />
		<table tableName="ACCTRCVB" />
		<table tableName="ACCTRCVBPMT" />
		<table tableName="ACCTROLE" />
		<table tableName="ACCTRTXNDTLLIMIT" />
		<table tableName="ACCTRTXNGRPLIMIT" />
		<table tableName="ACCTRTXNLIMIT" />
		<table tableName="ACCTRTXNREVREG" />
		<table tableName="ACCTSTAT" />
		<table tableName="ACCTTRANAMTLIMIT" />
		<table tableName="ACCTTRANSFERAGREEMENT" />
		<table tableName="ACCTTRANSFERTYP" />
		<table tableName="ACCTUSERFIELD" />
		<table tableName="ACCTWRN" />
		<table tableName="ADDR" />
		<table tableName="ADDRUSE" />
		<table tableName="ADVISE_INDEX" />
		<table tableName="ADVISE_INSTANCE" />
		<table tableName="ADVISE_WORKLOAD" />
		<table tableName="AGREEMENT" />
		<table tableName="AGREEMENTACCT" />
		<table tableName="AGREEMENTSTAT" />
		<table tableName="AGREEMENTTYP" />
		<table tableName="APPLYSTAT" />
		<table tableName="BALCAT" />
		<table tableName="BALCATBALTYP" />
		<table tableName="BALTIERMETH" />
		<table tableName="BALTIERTYP" />
		<table tableName="BALTYP" />
		<table tableName="BANKOPTION" />
		<table tableName="BANKOPTIONCAT" />
		<table tableName="BANKORGYEARMONTHDAY" />
		<table tableName="BATCH_DATA_CENTER" />
		<table tableName="BATCH_JOB_CONFIG" />
		<table tableName="BATCH_JOB_EXECUTION" />
		<table tableName="BATCH_JOB_EXECUTION_CONTEXT" />
		<table tableName="BATCH_JOB_EXECUTION_PARAMS" />
		<table tableName="BATCH_JOB_INSTANCE" />
		<table tableName="BATCH_JOB_PARAMS" />
		<table tableName="BATCH_PARAMETER_CONFIG" />
		<table tableName="BATCH_SCHEDULE_CONFIG" />
		<table tableName="BATCH_STEP_CONFIG" />
		<table tableName="BATCH_STEP_EXECUTION" />
		<table tableName="BATCH_STEP_EXECUTION_CONTEXT" />
		<table tableName="BATCH_STEP_EXECUTION_SKIP" />
		<table tableName="BRANCH" />
		<table tableName="BRANCHBRANCH" />
		<table tableName="BRANCHBRANCHCALCVARVALUE" />
		<table tableName="BRANCHBRANCHTYP" />
		<table tableName="BRANCHCALCVAR" />
		<table tableName="BRANCHCALCVARVALUE" />
		<table tableName="BRANCHCURRENCY" />
		<table tableName="BRANCHGROUP" />
		<table tableName="BRANCHLEV" />
		<table tableName="BRANCHMERGEMJMIACCTREG" />
		<table tableName="BRANCHONLINESTAT" />
		<table tableName="BRANCHORGTYP" />
		<table tableName="BRANCHREGION" />
		<table tableName="BRANCHSTAT" />
		<table tableName="BRANCHTYP" />
		<table tableName="BRIBERYPREPAREREG" />
		<table tableName="BRIBERYSHAREREG" />
		<table tableName="BRIBERYSTAT" />
		<table tableName="BRIBERYTYP" />
		<table tableName="CALCAMTTYP" />
		<table tableName="CALCBALTYP" />
		<table tableName="CALCCAT" />
		<table tableName="CALCSCHED" />
		<table tableName="CALCSCHEDCAT" />
		<table tableName="CALCSCHEDPRICRATE" />
		<table tableName="CALCSCHEDPROP" />
		<table tableName="CALCSCHEDPURP" />
		<table tableName="CALCSCHEDSPREADCALCSCHED" />
		<table tableName="CALCSCHEDTIERBAL" />
		<table tableName="CALCSCHEDTIERRATE" />
		<table tableName="CALCSCHEDTYP" />
		<table tableName="CALCTYP" />
		<table tableName="CALCTYPVAR" />
		<table tableName="CALCTYPVARVALUE" />
		<table tableName="CALCVAR" />
		<table tableName="CALCVARVALUE" />
		<table tableName="CALPERIOD" />
		<table tableName="CARDAGREEMENTTYP" />
		<table tableName="CARDVERIFYREG" />
		<table tableName="CHANRTXN" />
		<table tableName="CITY" />
		<table tableName="COLMETH" />
		<table tableName="COLTYP" />
		<table tableName="CORGRPMEMB" />
		<table tableName="CORP" />
		<table tableName="CORPGRP" />
		<table tableName="CORPGRPRTXN" />
		<table tableName="CORPSTAT" />
		<table tableName="CORPTYP" />
		<table tableName="COUPONGETHIST" />
		<table tableName="COUPONUSEHIST" />
		<table tableName="CTRLMETH" />
		<table tableName="CTRLREASON" />
		<table tableName="CTRY" />
		<table tableName="CURRENCY" />
		<table tableName="CURRENCYDENOMINATION" />
		<table tableName="CURRENCYEXCHCOMPOPERATORHIST" />
		<table tableName="CURRENCYEXCHRATEHIST" />
		<table tableName="CURRENCYEXCHSPREADHIST" />
		<table tableName="CUSFEERATE" />
		<table tableName="CYCLE" />
		<table tableName="CYCLEMETH" />
		<table tableName="DATEMATDEALTYP" />
		<table tableName="DAYSMETH" />
		<table tableName="DEALTYP" />
		<table tableName="DEALTYPINSTRUMENTTYP" />
		<table tableName="DEPRTXN" />
		<table tableName="DISPOSEMETH" />
		<table tableName="DUAL" />
		<table tableName="EDDATETYP" />
		<table tableName="EVENTTYP" />
		<table tableName="EXPLAIN_ARGUMENT" />
		<table tableName="EXPLAIN_INSTANCE" />
		<table tableName="EXPLAIN_OBJECT" />
		<table tableName="EXPLAIN_OPERATOR" />
		<table tableName="EXPLAIN_PREDICATE" />
		<table tableName="EXPLAIN_STATEMENT" />
		<table tableName="EXPLAIN_STREAM" />
		<table tableName="EXTSYSACCT" />
		<table tableName="FEECOMISREG" />
		<table tableName="FEEDBACKMETH" />
		<table tableName="FEEDBACKTYP" />
		<table tableName="FEEGL" />
		<table tableName="FEEPLAN" />
		<table tableName="FEEPLANPREFER" />
		<table tableName="FEEPLANRELTYP" />
		<table tableName="FEERATEDETAILS" />
		<table tableName="FEERATETYP" />
		<table tableName="FEERATETYPCOMIS" />
		<table tableName="FEERATETYPPREFR" />
		<table tableName="FEETYP" />
		<table tableName="FILLTYP" />
		<table tableName="FINAMATURITYSTATE" />
		<table tableName="FUNDBATCHSTATE" />
		<table tableName="FUNDTYP" />
		<table tableName="FUNDTYPDTL" />
		<table tableName="FUNDTYPDTLGLACCT" />
		<table tableName="GENTYP" />
		<table tableName="GETBRIBERYREG" />
		<table tableName="GLACCT" />
		<table tableName="GLACCTPROOFCOPYHIST" />
		<table tableName="GLACCTPROOFHIST" />
		<table tableName="GLACCTTITLE" />
		<table tableName="GLACCTTYP" />
		<table tableName="GLBUZSTAT" />
		<table tableName="GLCHECKREG" />
		<table tableName="HUPSTAT" />
		<table tableName="IDVERIFYREG" />
		<table tableName="INTBASE" />
		<table tableName="INTEGRALBINDCARD" />
		<table tableName="INTEGRALEVENT" />
		<table tableName="INTEGRALREG" />
		<table tableName="INTEGRALRULEEVENT" />
		<table tableName="INTEGRALRULES" />
		<table tableName="INTEGRALSTAT" />
		<table tableName="INTEGRALTRADINANGINFO" />
		<table tableName="INTEGRALTYP" />
		<table tableName="INTEGRALTYPVALUE" />
		<table tableName="INTEGRALUSEHIST" />
		<table tableName="INTEGRALUSEREG" />
		<table tableName="INTEGRALVALUE" />
		<table tableName="INTERESTBASE" />
		<table tableName="INTMETH" />
		<table tableName="INTRULETYP" />
		<table tableName="ITLAPPLYREG" />
		<table tableName="ITLHUPREG" />
		<table tableName="ITLHUPRELREG" />
		<table tableName="ITLLIQUIDATEHIST" />
		<table tableName="ITLRTXN" />
		<table tableName="ITLTRANSFER" />
		<table tableName="LOANRATECHGMETH" />
		<table tableName="LOANRATEEFFECTTYP" />
		<table tableName="LOCKOUTFLAG" />
		<table tableName="LOCKOUTFLAGRTXNTYP" />
		<table tableName="LOWBALOPTTYP" />
		<table tableName="LUCKMEDI" />
		<table tableName="MARKETRTXNTYP" />
		<table tableName="MEDI" />
		<table tableName="MEDIACCT" />
		<table tableName="MEDIACCTGRP" />
		<table tableName="MEDIACCTHIST" />
		<table tableName="MEDIBINDCARD" />
		<table tableName="MEDISEAL" />
		<table tableName="MEDISEALREG" />
		<table tableName="MEDISEALTYP" />
		<table tableName="MEDISTAT" />
		<table tableName="MEMOBALTYP" />
		<table tableName="MJACCTTYP" />
		<table tableName="MJACCTTYPCAT" />
		<table tableName="MJACCTTYPCATVALRULE" />
		<table tableName="MJACCTTYPVALRULE" />
		<table tableName="MJBALCATBALTYP" />
		<table tableName="MJMIACCTACCTROLE" />
		<table tableName="MJMIACCTACCTROLE_TMP" />
		<table tableName="MJMIACCTAPPL" />
		<table tableName="MJMIACCTBALCATTYP" />
		<table tableName="MJMIACCTBALCATTYP_TMP" />
		<table tableName="MJMIACCTBRANCH" />
		<table tableName="MJMIACCTCALCTYP" />
		<table tableName="MJMIACCTCALCVAR" />
		<table tableName="MJMIACCTCALCVARINFO" />
		<table tableName="MJMIACCTCALCVARVALUE" />
		<table tableName="MJMIACCTCTRLHIST" />
		<table tableName="MJMIACCTGENRTXN" />
		<table tableName="MJMIACCTGENRTXN_TMP" />
		<table tableName="MJMIACCTGL" />
		<table tableName="MJMIACCTGL_TMP" />
		<table tableName="MJMIACCTINTHIST" />
		<table tableName="MJMIACCTINTHIST_TMP" />
		<table tableName="MJMIACCTINTRULE" />
		<table tableName="MJMIACCTRTXNGRPLIMIT" />
		<table tableName="MJMIACCTRTXNLIMIT" />
		<table tableName="MJMIACCTRTXNTYP" />
		<table tableName="MJMIACCTRTXNTYP_TMP" />
		<table tableName="MJMIACCTRTXNTYPPROP" />
		<table tableName="MJMIACCTSTATTRF" />
		<table tableName="MJMIACCTTYP" />
		<table tableName="MJMIACCTTYP_TMP" />
		<table tableName="MJMIACCTTYPBRIBERY" />
		<table tableName="MJMIACCTTYPCC" />
		<table tableName="MJMIACCTTYPCCCHRG" />
		<table tableName="MJMIACCTTYPDEP" />
		<table tableName="MJMIACCTTYPINTEGRAL" />
		<table tableName="MJMIACCTTYPITL" />
		<table tableName="MJMIACCTTYPLOAN" />
		<table tableName="MJMIACCTTYPLOAN_TMP" />
		<table tableName="MJMIACCTTYPOFFERHIST" />
		<table tableName="MJMIACCTUSERFIELD" />
		<table tableName="MJMIACCTVALRULE" />
		<table tableName="MJMIACCTVOUCHTYP" />
		<table tableName="MJMIBALCALCTYP" />
		<table tableName="MJMIBALCALCVAR" />
		<table tableName="MJMIBALCALCVARINFO" />
		<table tableName="MJMIBALCALCVARVALUE" />
		<table tableName="MJMIBALCATCALCVAR" />
		<table tableName="MJMIFEERATE" />
		<table tableName="MJMIOVERDRAFTRULEHIST" />
		<table tableName="MJMIPMTSCHED" />
		<table tableName="MJMIPMTSCHED_TMP" />
		<table tableName="MJRTXNTYP" />
		<table tableName="NMONTXN" />
		<table tableName="NMONTXNTYP" />
		<table tableName="ORG" />
		<table tableName="ORGADDRUSE" />
		<table tableName="ORGBLACKLIST" />
		<table tableName="ORGCALCVAR" />
		<table tableName="ORGCALCVARVALUE" />
		<table tableName="ORGCREDITRATING" />
		<table tableName="ORGGRAYLIST" />
		<table tableName="ORGID" />
		<table tableName="ORGIDTYP" />
		<table tableName="ORGORG" />
		<table tableName="ORGORGCALCVARVALUE" />
		<table tableName="ORGORGROLE" />
		<table tableName="ORGPERSROLE" />
		<table tableName="ORGPHONE" />
		<table tableName="ORGROLE" />
		<table tableName="ORGTYP" />
		<table tableName="ORGWHITELIST" />
		<table tableName="OVERDRAFTAMTPRICE" />
		<table tableName="OWNERTYP" />
		<table tableName="PARAMETER" />
		<table tableName="PAYINTMETH" />
		<table tableName="PERS" />
		<table tableName="PERSADDRUSE" />
		<table tableName="PERSBLACKLIST" />
		<table tableName="PERSCALCVAR" />
		<table tableName="PERSCALCVARVALUE" />
		<table tableName="PERSCREDITRATING" />
		<table tableName="PERSGRAYLIST" />
		<table tableName="PERSID" />
		<table tableName="PERSIDTYP" />
		<table tableName="PERSINTEREST" />
		<table tableName="PERSPERSCALCVARVALUE" />
		<table tableName="PERSPERSREL" />
		<table tableName="PERSPHONE" />
		<table tableName="PERSREL" />
		<table tableName="PERSWHITELIST" />
		<table tableName="PHONEUSE" />
		<table tableName="PLATFORM" />
		<table tableName="PMTSCHED" />
		<table tableName="PMTSCHEDTYP" />
		<table tableName="PMTSCHEDTYPPMTTYP" />
		<table tableName="PMTSPD" />
		<table tableName="PMTTYP" />
		<table tableName="POSTCURRENCY" />
		<table tableName="POTENTIALCUST" />
		<table tableName="PREFRTYP" />
		<table tableName="PRICEBASE" />
		<table tableName="PRICESTRATEGY" />
		<table tableName="PRICETYP" />
		<table tableName="PRICETYPPRICEVALUE" />
		<table tableName="PRICEVALUE" />
		<table tableName="PRODINFO" />
		<table tableName="PROPTYP" />
		<table tableName="RATECHANGEMETH" />
		<table tableName="RATECHANGERNDMETH" />
		<table tableName="RATEMETH" />
		<table tableName="RATETYP" />
		<table tableName="RCVBGENMETH" />
		<table tableName="RCVBSTAT" />
		<table tableName="RECORDSTAT" />
		<table tableName="ROUNDMODE" />
		<table tableName="RPT_GL_BALANCES_BATCH" />
		<table tableName="RPT_GL_EXTRACTDATA_BATCH" />
		<table tableName="RPT_GL_EXTRACTDATA_BATCH_TEM" />
		<table tableName="RPT_GL_FTI4XTK_BATCH" />
		<table tableName="RPT_GL_FTI4XTK_BATCH_NOPROC" />
		<table tableName="RPT_GL_GATHERDATA" />
		<table tableName="RPT_GL_GATHERDATA_ALL" />
		<table tableName="RPT_GLINT_CURR" />
		<table tableName="RPT_GLINT_LAST" />
		<table tableName="RPT_GLINT_PROCESS" />
		<table tableName="RPT_GLINT_RTXN" />
		<table tableName="RPT_LOAN_AUTOPAYMENT" />
		<table tableName="RTXNBAL" />
		<table tableName="RTXNCHANNEL" />
		<table tableName="RTXNEXCP" />
		<table tableName="RTXNFUNDTYP" />
		<table tableName="RTXNFUNDTYPCURRENCY" />
		<table tableName="RTXNFUNDTYPCURREXCHRATEHIST" />
		<table tableName="RTXNREASON" />
		<table tableName="RTXNSOURCE" />
		<table tableName="RTXNSTAT" />
		<table tableName="RTXNTYP" />
		<table tableName="RTXNTYPCAT" />
		<table tableName="RTXNTYPFCYTXNTYP" />
		<table tableName="RTXNTYPGRP" />
		<table tableName="RTXNTYPGRPRTXNTYP" />
		<table tableName="RTXNUSERFIELD" />
		<table tableName="SCHEDULEPRICE" />
		<table tableName="SHARERULE" />
		<table tableName="SMSNOTIFYREG" />
		<table tableName="SPREADTYP" />
		<table tableName="STARTDATETYP" />
		<table tableName="STMTSTAT" />
		<table tableName="SYS_BATCH_FINISH" />
		<table tableName="TERM" />
		<table tableName="TERMBALCATBALTYP" />
		<table tableName="TERMINALTYP" />
		<table tableName="TERMUNIT" />
		<table tableName="TIERTYP" />
		<table tableName="TRANSCTL" />
		<table tableName="TRANSFERAMTTYP" />
		<table tableName="TRANSFERTYP" />
		<table tableName="TRANSROUTER" />
		<table tableName="TRANSSERVICE" />
		<table tableName="USERFIELD" />
		<table tableName="USERFIELDVALUE" />
		<table tableName="VALRULE" />
		<table tableName="VALRULETYP" />
		<table tableName="VOUCHTYP" />
		<table tableName="WRNFLAG" /> -->
        <table tableName="CHANRTXN">
			<property name="sequence" value="TXNSEQID_SEQ" />
		</table>
	</context>
</generatorConfiguration>
